<html>
<head>
    <title>Minimal example</title>

    <!-- Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- JavaScript for: jQuery, angular, materialize, and angular-materialize. All of which are needed. -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-materialize/0.2.2/angular-materialize.min.js"></script>
    <script src="node_modules/chart.js/dist/Chart.min.js"></script>
    <script src="node_modules/angular-chart.js/dist/angular-chart.min.js"></script>
    <!-- Your app -->
    <script type="text/javascript" src="app.js"></script>
    <script type="text/javascript" src="filters.js"> </script>
    <script type="text/javascript" src="log.service.js"></script>
</head>
<body ng-app="myApp" ng-controller="logsController as logs">
<main>
    <div class="col">
      <a class='btn ' ng-click="logs.AddLog()" data-target='demoModal' modal>add log</a>
    </div>
    <div id="demoModal" class="modal">
      <div class="modal-content">
        <h2 ng-if="logs.action =='Add'">Add</h2>
        <h2 ng-if="logs.action == 'Edit'">Edit</h2>
          <form action="">
            <div class="input-field col s12">
              <input ng-model = "logs.newLog.application" id = "application" name = "application" type="text" class="validate">
              <label for="application">Application</label>
            </div>

            <div class="input-field col s12">
              <input ng-model = "logs.newLog.errorLevel" id = "erorLevel" name = "erorLevel" type="text" class="validate">
              <label for="erorLevel">Error level</label>
            </div>

            <div class="input-field col s12">
              <input ng-model = "logs.newLog.host" id = "host" name = "host" type="text" class="validate">
              <label for="host">Host</label>
            </div>

            <div class="input-field col s12">
              <input ng-model = "logs.newLog.user"  id = "userId" name = "userId" type="text" class="validate">
              <label for="userId">User ID</label>
            </div>

            <div class="input-field col s12">
              <input ng-model = "logs.newLog.virtualPID"  id = "virtualPid" name = "virtualPid" type="text" class="validate">
              <label for="virtualPid">virtual Pid</label>
            </div>

            <div class="input-field col s12">
              <input ng-model = "logs.newLog.info1"  id = "info1" name = "info1" type="text" class="validate">
              <label for="info1">info1</label>
            </div>

            <div class="input-field col s12">
              <input ng-model = "logs.newLog.info2"  id = "info2" name = "info2" type="text" class="validate">
              <label for="info2">info2</label>
            </div>

            <div class="input-field col s12">
              <input ng-model = "logs.newLog.info3"  id = "info3" name = "info3" type="text" class="validate">
              <label for="info3">info3</label>
            </div>

            <div class="input-field col s12">
              <input ng-model = "logs.newLog.info4"  id = "info4" name = "info4" type="text" class="validate">
              <label for="info4">info4</label>
            </div>

            <div class="input-field col s12">
              <input ng-model = "logs.newLog.info5"  id = "info5" name = "info5" type="text" class="validate">
              <label for="info5">info5</label>
            </div>

            <div class="input-field col s12">
              <textarea ng-model = "logs.newLog.message" cols="20" rows="5" id = "message" name = "message" ></textarea>
              <label for="message">message</label>
            </div>
            <div class="row">
              <div class="input-field col s6">
                <a  ng-click="logs.SaveLogs()" class='btn modal-close' >Save</a>
              </div>
              <div class="input-field col s6">
                <a class='btn modal-close'>Cancel</a>
              </div>
            </div>
            
            
          </form>
      </div>
    </div>
        <table class="bordered responsive-table">
        <thead >
          <tr>
              <th>ID</th>
              <th>Application</th>
              <th>Created</th>
              <th>Error level</th>
              <th>Host</th>
              <th>User ID</th>
              <th>Virtual PID</th>
              <th>Info 1</th>
              <th>Info 2</th>
              <th>Info 3</th>
              <th>Info 4</th>
              <th>Info 5</th>
              <th>Message</th>
              <th>Action</th>
              
              
          </tr>
        </thead>

        <tbody>
          <tr ng-repeat="log in logs.data | filterByObj: logs.filterObj: logs.visibleObj | filterByHost: logs.filterObj: logs.visibleObj |
            filterByErr: logs.filterObj: logs.visibleObj | filterByDate: logs.filterObj: logs.visibleObj | filterByPid : logs.filterObj: logs.visibleObj | 
            filterByUser: logs.filterObj: logs.visibleObj | filterByMess : logs.filterObj: logs.visibleObj ">
            <td class="id">{{log._id}}</td>
            <td class="application">{{log.application}}</td>
            <td class="Created">{{log.created | date:medium}}</td>
            <td class="Error">{{log.errorLevel}}</td>
            <td class="Host">{{log.host}}</td>
            <td class="User">{{log.user}}</td>
            <td class="Pid"> {{log.virtualPID}}</td>
            <td class="info">{{log.info1}}</td>
            <td class="info">{{log.info2}}</td>
            <td class="info">{{log.info3}}</td>
            <td class="info">{{log.info4}}</td>
            <td class="info">{{log.info5}}</td>
            <td class="message">{{log.message}}</td>
            <td class="action">
              <div class="row">
                <div class="input-field col s6" ng-click="logs.EditLog(log)" data-target='demoModal'>
                   <i class="small material-icons">mode_edit</i>
                </div>
                <div class="input-field col s6">
                  <i  class="small material-icons" ng-click="logs.DeleteLog(log)">delete</i>
              </div>
              </div>
            </td>
            
          </tr>
        </tbody>
      </table>
      <div class="row">
        <div class="input-field col s1 push-s9">
          <input id="filter" ng-model="filter" type="checkbox">
          <label for="filter">Show Filter</label>
        </div>
        <div class="input-field col s1 push-s9">
          <input id="diagram" ng-model="diagram" type="checkbox">
          <label for="diagram">Show diagram</label>
        </div>
    </div>
    <div ng-show="filter">
      <div class="row">
        <div class="col">
         <a class='btn' ng-click="logs.filterData(logs.data)">Filter data</a>
        </div>
        <div class="col">
         <a class='btn' ng-click="logs.cleanAll()">Clean all</a>
        </div>
        <table class="responsive-table">
        <thead >
          <tr>
              <th>
                <input id="appList" ng-model="logs.visibleObj.appList" type="checkbox">
                <label for="appList">List of application</label>
              </th>
              <th>
                <input id="hostList" ng-model="logs.visibleObj.hostList" type="checkbox">
                <label for="hostList">List of hosts</label>
              </th>
              <th>
                <input id="errLvl" ng-model="logs.visibleObj.errLvl" type="checkbox">
                <label for="errLvl">Error Level</label>
              </th>
              <th>
                <input id="fromDate" ng-model="logs.visibleObj.fromDate" type="checkbox">
                <label for="fromDate">From/To date</label>
              </th>
              <th>
                <input id="virtPid" ng-model="logs.visibleObj.pid" type="checkbox">
                <label for="virtPid">virtual PID filter</label>
              </th>
              <th>
                <input id="userIdFilter" ng-model="logs.visibleObj.user" type="checkbox">
                <label for="userIdFilter">User ID filter</label>
              </th>
              <th>
                <input id="messFiler" ng-model="logs.visibleObj.message" type="checkbox">
                <label for="messFiler">Message filter</label>
              </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
               <div ng-show="logs.visibleObj.appList" ng-repeat="app in logs.filterObj.listApp">
                <input id="app_{{$index}}" ng-model="app.select" name="app" type="checkbox">
                <label for="app_{{$index}}">{{app.name}}</label>
              </div>
            </td>
            <td>
              <div ng-show="logs.visibleObj.hostList" ng-repeat="host in logs.filterObj.listHost">
                <input id="host_{{$index}}" ng-model="host.select" name="host" type="checkbox">
                <label for="host_{{$index}}">{{host.name}}</label>
              </div>
            </td>
            <td >
              <div ng-show="logs.visibleObj.errLvl" ng-repeat="error in logs.filterObj.errLvl">
                <input id="err_{{$index}}" ng-model="error.select" name="errLvl" type="checkbox">
                <label for="err_{{$index}}">{{error.name}}</label>
              </div>

            </td>
            <td >
              <div ng-show="logs.visibleObj.fromDate">
                
                  <div class="col">
                    <input id="from" type="datetime-local" ng-model="logs.filterObj.dateFrom">
                    <label for="from">From</label>
                  </div>
                  <br>
                <div class="col">
                  <input id="to" type="datetime-local" ng-model="logs.filterObj.dateTo">
                  <label for="to">To</label>
              </div>
              </div>
               
            </td>
            <td>
              <div class="input-field col s12" ng-show="logs.visibleObj.pid">
                <input ng-model = "logs.filterObj.virtPid"  id = "virtualPid" name = "virtualPid" type="text" class="validate">
                <label for="virtualPid">Virtual Pid</label>
                <div>% - A substitute for zero or more characters</div>
                <div>_ - A substitute for a single character</div> 
              </div>
            </td>
            <td>
              <div class="input-field col s12" ng-show="logs.visibleObj.user">
                <input ng-model = "logs.filterObj.userId"  id = "userFilter" name = "userFilter" type="text" class="validate">
                <label for="userFilter">User ID</label>
                <div>% - A substitute for zero or more characters</div>
                <div>_ - A substitute for a single character</div> 
              </div>
            </td>
            <td>
              <div class="input-field col s12" ng-show="logs.visibleObj.message">
                <input ng-model = "logs.filterObj.message"  id = "messFilter" name = "messFilter" type="text" class="validate">
                <label for="messFilter">Message</label>
                <div>% - A substitute for zero or more characters </div>
                <div>_ - A substitute for a single character </div> 
              </div>
            </td>
          </tr>
        </tbody>
        </table>
      </div>
    </div>
    <div ng-show="diagram">
      <div class="row">
        <div class="col">
         <a class='btn' ng-click="logs.buildCharts(from,to)">Build Charts</a>
        </div>
        <div class="col">
          <input id="from" type="date" ng-model="from">
          <label for="from">From</label>
        </div>
        <div class="col">
          <input id="to" type="date" ng-model="to">
          <label for="to">To</label>
        </div>
      </div>
      <div class="row">
          <div class= "col s6">
            <canvas id="radar" class="chart chart-line"
              chart-data="logs.countLogOnDay" chart-options="options" chart-labels="logs.dates.label">
            </canvas> 
          </div>
      </div>
      
      
    </div>
</main>
</body>
</html>